// Variáveis
$primary-color: #e88c9e;
$secondary-color: #ffffff;
$text-color: #333333;
$background-color: lighten($primary-color, 40%);
$font-family: 'Montserrat', sans-serif;
$link-hover-color: darken($primary-color, 15%);
$highlight-color: lighten($primary-color, 10%);

// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition($property, $duration, $timing) {
    transition: $property $duration $timing;
}

// Estilos básicos
body {
    font-family: $font-family;
    color: $text-color;
    margin: 0;
    padding: 0;
    background-color: $background-color;
}

header {
    background-color: $primary-color;
    padding: 20px;
    @include flex-center;
    justify-content: space-between;

    .logo {
        height: 50px;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            margin-left: 20px;

            a {
                text-decoration: none;
                color: $secondary-color;
                font-weight: bold;
                @include transition(color, 0.3s, ease-in-out);

                &:hover {
                    color: $link-hover-color;
                }
            }
        }
    }
}

main {
    padding: 40px 20px;

    .intro,
    .awareness {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 60px;
        max-width: 800px;
        margin: 0 auto  75px;
        font-size: larger;
        font-weight: normal;
        text-align: justify;
    }

    .intro-image,
    .awareness-image {
        max-width: 40%;
        height: auto;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
    }

    .intro-image:hover,
    .awareness-image:hover {
        transform: scale(1.05);
    }
}

.tips {
    text-align: center;
    font-size: larger;

    h2 {
        color: $primary-color;
        margin-bottom: 20px;
    }

    .tips-images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 6%;

        img {
            max-width: 200px;
            height: auto;
            border-radius: 10px;
            @include transition(transform, 0.3s, ease-in-out);

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

footer {
    background-color: $primary-color;
    padding: 20px;
    text-align: center;
    color: $secondary-color;

    p {
        margin: 1%;
        font-weight: bolder;
        font-size: smaller;

        &.layout {
            margin-top: 2%;
            font-size: smaller;
            color: $text-color;
        }
    }

    .social-media {
        margin-top: 35px;

        a {
            margin: 0 10px;
        }

        img {
            width: 30px;
            height: 30px;
            @include transition(transform, 0.3s, ease-in-out);

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .ribbon {
        justify-content: center;
        margin-top: 20px;
        height: 50px;
    }
}